<div class="wrapper">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="app-name">
        <h1 class="app-title">Alarma Mi Ciclo</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" >
      <div class="container-fluid" style="background-image: url('assets/media/Group20.png'); height:100%;">
        <div class="row">
          <div class="col-9">
            <img src="assets/media/image1.png" class="center-img"/>
          </div>
          <div class="col-3">
            <div class="group-1-6">
              <div class="rectangle-3-7" >
                <p class="text-3">Menstruación</p>
              </div>
            </div>
            <div class="group-1-7">
              <div class="rectangle-3-8" >
              <p class="text-3">Días Infértil</p>
              </div>
            </div>
            <div class="group-1-8">
              <div class="rectangle-3-9" >
              <p class="text-3">Días fértil</p>
              </div>
            </div>
            <div class="group-1-9">
              <div class="rectangle-4-0" >
              <p class="text-3">Ovulación</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="rectangle-2-10">
        <div class="container-fluid">
            <div class="row">
              <div class="col-10"></div>
              <div class="col-2">
                <div class="TableCellGuardar">
                  <button type="button" class="btn">Guardar</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="text-5">Fecha última mestruación</p>
                <div class="calendar-mens">
                  <input type="date" id="lastMens" name="ultimaMenstruacion" class="calendar">
                </div>
              </div>
              <div class="col-6">
                <p class="text-5">Seleccione fase a notificar</p>
                <div class="calendar-mens">
                  <select name="fase" id="fase" class="fase">
                    <option value="menstruacion">Menstruación</option>
                    <option value="diasFertil">Días fértil</option>
                    <option value="diasInfertil">Días infértil</option>
                    <option value="ovulacion">Ovulación</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="text-5">Alarma a las:</p>
                <div class="calendar-mens">
                  <label for="hora" class="text-5">Hora:</label>
                  <input type="time" id="hora" name="hora" class="hora">
                </div>
              </div>
              <div class="col-6">
                <p class="text-5"> Se notificará el 28 de marzo</p>
                <img src="assets/media/notificacion.png" class="img-calendario">
              </div>
            </div>
        </div>


      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="rectangle-2-10">
        
        <div class="container-fluid">
          <div class="row"  style="border: 1px solid rgba(255, 156, 244, 0.2); border-radius: 8px;  align-items: center; margin: 2%;">
            <div class="col-3">
              <h3 class="hour-alert">9:15</h3>
            </div>
            <div class="col-6">
              <h4 class="descripcion-alert">Menstruación</h4>
            </div>
            <div class="col-3">

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
              </div>

            </div>
          </div>
          <div class="row"  style="border: 1px solid rgba(255, 156, 244, 0.2); border-radius: 8px;  align-items: center; margin: 2%;">
            <div class="col-3">
              <h3 class="hour-alert">1:15</h3>
            </div>
            <div class="col-6">
              <h4 class="descripcion-alert">Ovulación</h4>
            </div>
            <div class="col-3">

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
              </div>

            </div>
          </div>
          <div class="row"  style="border: 1px solid rgba(255, 156, 244, 0.2); border-radius: 8px;  align-items: center; margin: 2%;">
            <div class="col-3">
              <h3 class="hour-alert">2:15</h3>
            </div>
            <div class="col-6">
              <h4 class="descripcion-alert">Días infértil</h4>
            </div>
            <div class="col-3">

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
              </div>

            </div>
          </div>
          <div class="row"  style="border: 1px solid rgba(255, 156, 244, 0.2); border-radius: 8px;  align-items: center; margin: 2%;">
            <div class="col-3">
              <h3 class="hour-alert">3:15</h3>
            </div>
            <div class="col-6">
              <h4 class="descripcion-alert">Días fértil</h4>
            </div>
            <div class="col-3">

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-6">
      <div class="rectangle-2-10">
        <img src="assets/media/qr_escanear.png" class="img-qr">
      </div>
    </div>
  </div>

</div>
</div>